{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in query %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.totalShares }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.purchase }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>CASH</td>
                <td></td>
                <td></td>
                <td>{{ cash }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
